/* content */

.content {
	float:left;
	width:860px;
}

.content h2, .content p {
	padding-left:20px;
}
.content p {
	font-size:1em;
/* 	width:640px; */
}

.content .col, .content .col2, .col2 {
	width:400px;
	float:left;
	margin-left:20px;
}
.content .col1, .col1 {
	width:200px;
	float:left;
	margin-left:20px;
}


/* PROFILE */


.profile.professionals .left a.button:hover, .profile.professionals .left a.button:visited:hover {
	background:#00ADEF;
} 

.profile.professionals .content h2 {
	color:#00ADEF;
	font-weight:normal;
	text-transform: none;
	text-align: left;
}


.profile.professionals .left a.button:hover, .profile.professionals .left a.button:visited:hover {
	background:#00ADEF;
} 

.profile.professionals .content h2 {
	color:#00ADEF;
	font-weight:normal;
	text-transform: none;
	text-align: left;
}

.profile.companies .left a.button:hover, .profile.companies .left a.button:visited:hover {
	background:#F26531;
} 

.profile.companies .content h2 {
	color:#F26531;
	font-weight:normal;
	text-transform: none;
	text-align: left;
}


.profile.companies .left a.button:hover, .profile.companies .left a.button:visited:hover {
	background:#F26531;
} 

.profile.companies .content h2 {
	color:#F26531;
	font-weight:normal;
	text-transform: none;
	text-align: left;
}




/* ASIDE LEFT*/


aside.left {
	background:#444;
	width:200px;
	float:left;
	font-size:1em;
	color:white;
	margin-bottom: -5000px;
  	padding-bottom: 5000px;	
}   

aside.left h3 {
	text-transform: uppercase;
	font-weight: 700; 
	font-style: normal;
	margin:10px;

}
aside.left ul {
	list-style: none;
	padding:0;
	margin:10px;

}

aside.left li {
	height:10px;
	position:relative;
	background: #666;
	padding:10px;
	line-height: 10px;
  	transition: all 0.2s ease;
  	overflow:hidden;
}

aside.left ul.tab-menu li	{
	padding:0px;
	height:30px;
	line-height:12px;	
	font-weight: 500; 
	margin-bottom:2px;
}
aside.left ul.tab-menu li a:link, aside.left ul.tab-menu li a:visited	{
	color:white;
	text-decoration: none;
	padding:10px;
	margin:0px;
	width:100%;
	display:block;
  	transition: all 0.2s ease;
}

.professionals aside.left ul.tab-menu li a:hover, 
.professionals aside.left ul.tab-menu li a:visited:hover,	
.professionals aside.left ul.tab-menu li a.selected {
	background:#00adef;
	color:white;
}

.companies aside.left ul.tab-menu li a:hover, 
.companies aside.left ul.tab-menu li a:visited:hover,	
.companies aside.left ul.tab-menu li a.selected {
	background:#F26531;
	color:white;
}


aside.left .icon {
	font-family: "essential-regular";
	font-size: 1.3em;
	margin-top:-1px;
	float:left;
	width:22px;
	font-style: normal;
	font-weight: normal;
}
/* Dashboard*/


   

div.notification-count {
	background: white;
	color:#00adef;
	width:32px;
	text-align: center;
	border-radius:22px;
	float:right;
}
div.notification-count.red {
	background: red;
	color:white;
}

.third a{
/* 	color:#555;	 */
}
   
   
ul.dashboard{
	list-style: none;
	padding:0px;
	overflow:hidden;
}

li.dashboard {
	position:relative;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;	
	overflow:hidden;
	z-index: 3;
	margin-left:0px;
	padding:20px 0px 20px 0px;
	border-bottom:1px solid #CCC;
}
li.dashboard:nth-child(odd){
	background:#f1f1f1;
}

li.dashboard.unread{
	background:#DFF1F7;
}

li.dashboard .thumb {   
	width:40px;
	height:40px;
	margin-right:10px;
	border-radius:100%;
	float:left;
	background-size:cover;
	background-position:center center;
	margin-bottom: 10px;		
}

li.dashboard.msg{
	height:50px;
}

p.msg-text {
	opacity:0.0;	
	margin:20px 0px 10px 30px;
}

li.dashboard span {
	font-size: 0.9em;
	clear:both;
	float:left;
}
li.dashboard .svg-star {
	right:0px;
 	position:absolute; 
	width:22px;
	height: 22px;
	margin-right:5px;
	
}
li.dashboard .circle{
	fill:#f1f1f1;
}

li.dashboard:nth-child(odd) .circle{
	fill:white;
}


li.dashboard .svg-arrow {
	width:22px;
	height:22px;
	float:right;
	margin-right:10px;	

}

.companies li.dashboard .svg-arrow .arrow {
	fill:#F26531;
}
.professionals li.dashboard .svg-arrow .arrow {
	fill:#00ADEF;
}

li.dashboard .icon {
	float:left;
	font-size: 14px;
	margin-right:3px;
	margin-top:-1px;
}

.companies li.dashboard .icon {
	color:#F26531;
}
.professionals li.dashboard .icon {
	color:#00ADEF;
}

/* DB REVIEWS */

.decline-text {
	border:1px solid #ccc;
	display:none;
	height:100px;
}


