/* ==========================================================================
   Global
   ========================================================================== */


::-webkit-input-placeholder {
   color: #666;
}

:-moz-placeholder { /* Firefox 18- */
   color: #666;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666;
}

:-ms-input-placeholder {  
   color: #666;
}

input[type=radio],
input[type='checkbox'] {
  display: none;
}
input[type=radio] + label {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}
input[type='checkbox'] + label:before,
input[type='radio'] + label:after {
  display: block;
  font-family: "essential-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  border-radius: 50%;
  background:#F2F2F2;	
  width:30px;
  height:30px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
input[type="checkbox"]:checked /* + label:before */ {
  padding-right: 6px;
}
input[type=radio] + label:after {
  content: "y"; /* Radio Unchecked */
  color:#666;
  margin:0 auto;
  margin-top:10px;
}
input[type=radio]:checked + label:after {
  content: "u"; /* Radio Checked */
  color:#666;
  margin-top:10px;
}
input[type="checkbox"] + label:before {
  content: "x"; /* Checkbox Unchecked */
  color:#666;
}
input[type="checkbox"]:checked + label:before {
  content: "v"; /* Checkbox Checked */
  color:#666;

}
input[type="text"],
input[type="password"],
input[type="email"] {
	float:left;
 	clear: both;
 	margin-bottom:15px;
 	width:calc(100% - 22px);
	padding:5px;
	border:1px solid #CCC;
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal;
	background:#F2F2F2;	
}
/* ==========================================================================
   Registreren stappen
   ========================================================================== */

/*  achtergronden sectie divs */
section.register .register-kop,
section.register .register-volgende {
	background:#F2F2F2;
	padding:40px 0px;
}

section.register .register-form {
	background:#E6E6E6;
	padding:40px 0px;
}

/*  styling registratie stappen */
section.register h2 {
	text-transform:none;
	color: rgb(102, 102, 102);
	font-size:1.8em;
}

section.register .register-kop h2,
section.register .register-kop p {
	text-align: center;
	margin:0px;
}

/*  styling registratie stappen buttons */
section.register .register-titel .stappen {
	width:640px;
	margin:0 auto;
	height:70px;
}

section.register .register-titel .stappen .stap-item {
  font-size: 12px;
  color: rgb(179, 179, 179);
  font-weight: bold;
  width: 120px;
  float:left;
  margin-right:10px;
  padding-top:9px;
}

section.register .register-titel .stappen .stap-item.last {
  margin-right:0px;
}

section.register .register-titel .stappen .stap-item.selected {
  font-size: 20px;
  color: rgb(149, 193, 30);
  padding-top:0px;
}

section.register .register-titel .stappen .stap-item .stap-rectangle {
  background-color: rgb(178, 178, 178);
  width: 120px;
  height: 11px;
  position: absolute;
  bottom:0px;
  margin-bottom:30px;
}

section.register .register-titel .stappen .stap-item.selected .stap-rectangle {
  background-color: rgb(149, 193, 30);
}

/*  styling registratie registratie opties */
section.register .register-form .registratie-opties {
	width:490px;
	margin:0 auto;
	text-align:center;
}

section.register .register-form .registratie-optie {
	float:left;
	width:150px;
	float:left;
	text-align: center;
}

section.register .register-form .registratie-opties .registratie-spacer {
	float:left;
	text-align: center;
	width:20px;
	padding-top:25px;
}
section.register .register-form .circle {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	text-align:center;
	margin:0 auto;
	margin-bottom:15px;
}

section.register .register-form .circle.blue {
	background:#009FE3 url(../img/icon-registratie-professional.png) no-repeat center center;
}
section.register .register-form .circle.green {
	background:#95C11F url(../img/icon-registratie-ingenieur.png) no-repeat center center;
}
section.register .register-form .circle.red {
	background:#EB5B25 url(../img/icon-registratie-bedrijf.png) no-repeat center center;
}

section.register .register-volgende a.button {
    background: none repeat scroll 0% 0% #00ADEF;
    font-size: larger;
    text-transform: none;
    line-height: 20px;
    transition: background-color 0.2s ease 0s;
    padding: 20px 0px;
    max-width: 180px;
    margin: 10px auto;
}

section.register .register-volgende a:hover.button {
    background: none repeat scroll 0% 0% #666;
}

section.register fieldset .radio {
 	clear: both;
}

input.empty {
	border-bottom: 2px dashed red;
}

section.register fieldset p {
	margin:0.5em 0;
	font-size:1em;
	clear:both;
}

section.register fieldset {
	margin:0 auto;
	
	-webkit-transition: opacity 1.2s ease;
	transition: opacity 1.2s ease;	
/*
	opacity: 0.0;
	display: none;
	height:0;
*/

}

section.register fieldset .name-wrapper {
	width:190px;
	float:left;

}

section.register fieldset .tussenvoegsel-wrapper {
	width:120px;
	float:left;

}

section.register fieldset .last_name-wrapper {
	width:390px;
	float:left;

}

