
.one {
	width:200px;
}
.two {
	width:420px;
}
.three {
	width:640px;
}

.half {
 	float:left !important;
	width: 500px;
	clear:none !important;
}
.half:nth-child(even) {
 	float:right !important;

}

.third {
	width:340px;
	margin:10px;	
	float:left;
}

.two-third {
	width:680px;
	margin:10px;	
	float:left;
}

@media (min-width:27.500em) and (max-width:41.124em) { 
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. 
	2 columns
	*/ 

	div.container {
		width:420px !important;
	}

	.one:nth-child(even) {
		margin-right:0px !important;
	}	
	.one {
		width:200px;
		margin-right: 20px !important;
	}
	.two {
		width: 420px;
		float:left !important;
	}	
	.three {
		width: 420px;
		float:left !important;

	}		
	

}

@media (min-width:41.125em) and (max-width:54.999em) { 
	/* 
	portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones 
	3 columns
	*/ 

	div.container {
		width:640px !important;
	}

	.one:nth-child(3n+3) {
		margin-right:0px !important;
	}
	.one {
		margin-right: 20px !important;
	}

	.two {
		width: 310px;
	}	
	.three {
		width: 310px;

	}		

}

@media (min-width:55.000em) and (max-width:68.749em) { 
	/* 
	tablet, landscape iPad, lo-res laptops ands desktops 
	4 columns
	*/ 

	div.container {
		width:860px !important;
	}

	.one:nth-child(4n+4) {
 		margin-right:0px !important;
	}
	.one {
		margin-right: 20px !important;
	}
	
	.two {
		width: 420px;
	}	
	.three {
		width: 420px;
	}	

}

@media (min-width:68.750em) { 
	/* 
	big landscape tablets, laptops, and desktops
	5 columns
	 */ 
	div.container {
		width:1080px !important;
	}
	
	.one:nth-child(5n+5) {
 		margin-right:0px !important; 
	}
	.one {
		margin-right: 20px !important;
	}

	
}

